---
import { SITE_TITLE, SITE_DESCRIPTION, SITE_URL } from '../consts';
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<title>{Astro.props.title || SITE_TITLE}</title>
<meta name="description" content={Astro.props.description || SITE_DESCRIPTION} />

<meta property="og:type" content="website" />
<meta property="og:url" content={SITE_URL} />
<meta property="og:title" content={Astro.props.title || SITE_TITLE} />
<meta property="og:description" content={Astro.props.description || SITE_DESCRIPTION} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={Astro.props.title || SITE_TITLE} />
<meta property="twitter:description" content={Astro.props.description || SITE_DESCRIPTION} />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
